*.pyc
*.pprof
/ckpt/
wandb
data/*
!data/qa.val.index
configs/*
!configs/iterative_base/base.json
!configs/iterative_base

commonsenseqa/*
!commonsenseqa/*.py
!commonsenseqa/prompts*.txt
!commonsenseqa/*.jsonl

gsm/*
!gsm/*.py
!gsm/*.jsonl
!gsm/prompts*.txt

arithmetic/*
!arithmetic/gen_sums.py
iterative*.txt
.vscode/settings.json
!configs/qa_base.json
result_logs
result_logs/*
!configs/qa_base.json
